{% extends "base.html" %}

{% block content %}
    <hr class="mb-4">

    <div class="container">
              <!--Section: Cards-->
      <section class="text-center">

        <!--Grid row-->
        <div class="row mb-4 wow fadeIn">

          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card image-->
              <!--<div class="view overlay">
                <div class="embed-responsive embed-responsive-16by9 rounded-top">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cXTThxoywNQ" allowfullscreen></iframe>
                </div>
              </div> -->

              <!--Card content-->
              <div class="card-body warning-color">
                <!--Title-->
                <h4 class="card-title">Детектив</h4>
                <!--Text-->
                <p class="card-text text-white">Жанр, произведения которого описывают процесс исследования загадочного происшествия с целью выяснения его обстоятельств и раскрытия загадки.</p>

              </div>

            </div>
            <!--/.Card-->

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card image-->
              <!--<div class="view overlay">
                <div class="embed-responsive embed-responsive-16by9 rounded-top">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cXTThxoywNQ" allowfullscreen></iframe>
                </div>
              </div> -->

              <!--Card content-->
              <div class="card-body primary-color">
                <!--Title-->
                <h4 class="card-title">Роман</h4>
                <!--Text-->
                <p class="card-text text-white">Жанр, как правило прозаический, который предполагает развернутое повествование о жизни и развитии личности главного героя в нестандартный период его жизни.</p>

              </div>

            </div>
            <!--/.Card-->

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card image-->
              <!--<div class="view overlay">
                <div class="embed-responsive embed-responsive-16by9 rounded-top">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cXTThxoywNQ" allowfullscreen></iframe>
                </div>
              </div> -->

              <!--Card content-->
              <div class="card-body success-color">
                <!--Title-->
                <h4 class="card-title">Фантастика</h4>
                <!--Text-->
                <p class="card-text text-white">Жанр в художественной литературе, характеризуемый использованием фантастического допущения, нарушением границ реальности, принятых условностей.</p>

              </div>

            </div>
            <!--/.Card-->

          </div>
          <!--Grid column-->

            <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card image-->
              <!--<div class="view overlay">
                <div class="embed-responsive embed-responsive-16by9 rounded-top">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cXTThxoywNQ" allowfullscreen></iframe>
                </div>
              </div> -->

              <!--Card content-->
              <div class="card-body default-color">
                <!--Title-->
                <h4 class="card-title">Классика</h4>
                <!--Text-->
                <p class="card-text text-white">Классическая литература — корпус произведений, считающихся образцовыми для той или иной эпохи, которые создали канон для своего жанра.</p>

              </div>

            </div>
            <!--/.Card-->

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card image-->
              <!--<div class="view overlay">
                <div class="embed-responsive embed-responsive-16by9 rounded-top">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cXTThxoywNQ" allowfullscreen></iframe>
                </div>
              </div> -->

              <!--Card content-->
              <div class="card-body danger-color">
                <!--Title-->
                <h4 class="card-title">Фольклёр</h4>
                <!--Text-->
                <p class="card-text text-white">Устная творческая деятельность народа, посвященная его жизни и возникшая до появления грамотности. Устный характер отличает фольклор от литературы.</p>

              </div>

            </div>
            <!--/.Card-->

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card image-->
              <!--<div class="view overlay">
                <div class="embed-responsive embed-responsive-16by9 rounded-top">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cXTThxoywNQ" allowfullscreen></iframe>
                </div>
              </div> -->

              <!--Card content-->
              <div class="card-body secondary-color">
                <!--Title-->
                <h4 class="card-title">Отраслевой</h4>
                <!--Text-->
                <p class="card-text text-white">Произведения этого жанра являются отражением определенного этапа в развитии отрасли, обобщением накопленных знаний прогнозом дальнейших.</p>

              </div>

            </div>
            <!--/.Card-->

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </section>
      <!--Section: Cards-->
    </div>

{% endblock %}