{% extends "base.html" %}

{% block content %}
    <hr class="mb-4">

    <div class="container">
              <!--Section: Cards-->
      <section class="text-center">

        <!--Grid row-->
        <div class="row mb-4 wow fadeIn">

          <!--Grid column-->
            {% for Genre in genres %}
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card image-->
              <!--<div class="view overlay">
                <div class="embed-responsive embed-responsive-16by9 rounded-top">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cXTThxoywNQ" allowfullscreen></iframe>
                </div>
              </div> -->

              <!--Card content-->
              <div class="card-body {{ Genre.color }}">
                <!--Title-->
                <h4 class="card-title">{{ Genre.name }}</h4>
                <!--Text-->
                <p class="card-text text-white">{{ Genre.description }}</p>
                  <p>Количество книг: {{ Genre.get_books }}</p>
              </div>

            </div>
            <!--/.Card-->

          </div>
          <!--Grid column-->
            {%  endfor %}

        </div>
        <!--Grid row-->

      </section>
      <!--Section: Cards-->
    </div>

{% endblock %}