{% extends "base.html" %}

{% block content %}
    <hr class="mb-4">

    <div class="container">
              <!--Section: Cards-->
      <section class="text-center">

        <!--Grid row-->
        <div class="row mb-4 wow fadeIn">

          <!--Grid column-->
            {% for Genre in genres %}
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4">
               <a class="text-white" href="{{ Genre.get_absolute_url }}">
                    <div class="card">
                          <div class="card-body {{ Genre.color.color }}">
                            <!--Title-->
                              <h4 class="card-title">{{ Genre.name }}</h4>
                                <!--Text-->
                              <p class="card-text text-dark">{{ Genre.description }}</p>
                              <p>Количество книг: {{ Genre.get_books_count }}</p>
                          </div>
                    </div>
                </a>
          </div>
          <!--Grid column-->
            {%  endfor %}

        </div>
        <!--Grid row-->

      </section>
      <!--Section: Cards-->
    </div>

{% endblock %}