{% extends "base_detail.html" %}
{% load text_spliter %}

{% block content %}
<div class="container">
    <div class="card mt-5">
        <div class="card-header sunny-morning-gradient">
            <h2>Название: <strong>{{ book.title }}</strong></h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <img src="{{ book.image.url }}" width="150" />
                </div>
                <div class="col-md-10">
                    <p><strong>Автор:</strong> <a href="{{ book.author.get_absolute_url }}">{{ book.author }}</a></p> <!-- author detail link not yet defined -->
                <p><strong>Описание:</strong> {{ book.summary }}</p>
                <p><strong>Жанр:</strong> {% for genre in book.genre.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <embed src="{{ book.file.url }}#toolbar=0&navpanes=1&scrollbar=1" width="850" height="1100" type="application/pdf" />
        </div>
    </div>
</div>
<script type="text/javascript">
    document.addEventListener("contextmenu", function(e){
    if (e.target.nodeName === "EMBED") {
        e.preventDefault();
    }
}, false);
</script>
{% endblock %}