{% extends "base_detail.html" %}
{% load text_spliter %}

{% block content %}
<div class="container">
    <div class="card mt-5">
        <div class="card-header sunny-morning-gradient">
            <h2>Название жанра: <strong>{{ genre.name }}</strong></h2>
        </div>
        <div class="card-body">
            <p><strong>Описание жанра:</strong> {{ genre.description }}</p>
        </div>
    </div>
        <div class="mt-5 mb-4">
            <div class="card mb-4 wow fadeIn">
                <div class="card-header text-center">
                    <h3>Список книг</h3>
                </div>
                <div class="card-body">
                {% for Book in genre.get_books %}
                    <div class="row mb-1">
                        <div class="col-md-3 d-flex align-items-center">
                            <img  src="{{ Book.image.url }}" width="50" />
                        </div>
                        <div class="col-md-9 d-flex align-items-center">
                            <a href="{{ Book.get_absolute_url }}"><h5>{{ Book.title }}</h5></a>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <div class="card-footer">
                </div>
        </div>

</div>

{% endblock %}